{% extends "layout.html" %}
{% block content %}
<div class="container">
    <H1>About</H1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto cupiditate delectus dicta dolorem, eos fugiat ipsa iure labore laudantium quibusdam repellendus, velit? Alias eveniet facere rerum unde voluptate. Ea.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aspernatur commodi delectus enim et eum fugiat laborum minus ut! Adipisci architecto dolorum eos labore quo ratione sit tempora velit?</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur consequatur consequuntur dicta distinctio est iste tenetur vitae! Accusamus alias aliquam consequuntur id minus mollitia odit perspiciatis sint, ullam vitae?</span><span>Aliquid, enim fugiat illo ipsa qui quod reprehenderit totam. Dolores odio quaerat quidem quisquam voluptatibus! Dolorem doloremque eos id illum, iusto molestias, necessitatibus officia perferendis placeat provident quisquam, repellendus sint?</span><span>Amet aperiam blanditiis dolor ea et in iure minus numquam quaerat reprehenderit? Ad at autem culpa cupiditate dolor eos excepturi explicabo, fugiat harum laborum officiis possimus, quis quod tempora tenetur?</span></p>
</div>
{% endblock content %}
