{% extends "layout.html" %}
{% block content %}
<div class="container card">
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
    <div class="mb-3">
        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}

        {% for err in form.username.errors %}
        <span style="color:red;">{{err}}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}

        {% for err in form.email.errors %}
        <span style="color:red;">{{err}}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}

        {% for err in form.password.errors %}
        <span style="color:red;">{{err}}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.confirm_password.label(class="form-label")}}
        {{form.confirm_password(class="form-control")}}

        {% for err in form.confirm_password.errors %}
        <span style="color:red;">{{err}}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.submit(class="btn btn-dark")}}
    </div>
    </form>
</div>
{% endblock content %}
